/**
Mobile L
 */
@media screen and (max-width: 425px) {
    #menuToggle {
        left: 20px;
        top: -29px;
    }

    #menuToggle span {
        display: block;
        width: 23px;
        height: 3px;
        margin-bottom: 5px;
    }

    #menu .title img {
        width: 215px;
    }

    .sylius-cart-count {
        display: inline-block;
    }

    #sylius-cart-total {
        display: none;
    }

    #sylius-cart-button {
        top: 14px;
        margin-right: 10px;
        padding: 10px;
    }

    #menuToggle input:checked ~ span {
        transform: rotate(45deg) translate(4px, 3px);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, 2px);
    }
}

/**
Mobile M
 */
@media screen and (max-width: 375px) {

}

/**
Mobile S
 */
@media screen and (max-width: 320px) {
    #menu .title img {
        width: 180px;
    }

    #menuToggle {
        top: -25px;
    }
}