body.pushable .pusher {
    background-color: white;
}

/** homepage */

#menu .title img
{
    width: 300px;
    margin: 0 auto;
    display: inline-block;
}

#menu .men, #menu .women {
    font-size: 20px;
    margin: 0 100px;
    vertical-align: top;
}

#menu .title:hover, #menu .title:active, #menu .title:focus {
    color: white;
    text-decoration: none;
}

#menu {
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

#menu nav {
    height: 0px;
}

#menuToggle
{
    display: block;
    position: relative;
    top: -35px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #383535;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #383535;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu2
{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

#menu2 li
{
    padding: 10px 0;
    font-size: 22px;
    color: #383535;
    text-align: left;
}

#menu2 .taxon-parent {
    cursor: pointer;
}

#menu .child {
    display: none;
}

#menu2 .child li {
    font-size: 16px;
    margin-left: 10px;
}

#menuToggle input:checked ~ ul
{
    transform: none;
}

#sylius-cart-button {
    right: 0;
    position: absolute;
    top: 18px;
    margin-right: 15px;
    background-color: #383535;
    color: white;
}

.sylius-cart-count {
    display: none;
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
    color: #383535;
}

#sylius-cart-button:hover {
    background-color: #383535;
    color: white;
}
.ui.inverted.menu {
    background-color: #ffffff;
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
    margin-left: inherit !important;
}

.ui.grid>.column:not(.row) {
    padding-bottom: 10px;
    padding-top: 20px;
}

.ui.menu {
    margin: 0;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

div#slider { overflow: hidden; margin-bottom: 30px}
div#slider figure img { width: 20%; float: left; }
div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

.taxon-discover img {
    width:100%;
    display: inline-block;
}

.taxon-discover h3{
    text-align: center;
}

.taxon-discover a, .taxon-discover a:hover {
    color: #383535;
}

.news {
    margin-bottom: 30px;
}

.news-banner {
    width: 100%;
    background-size: cover;
    height: 400px;
    background-position: center;
    background-attachment: fixed;
    display: block;
}

.instagram-block img {
    width: 100%;
    height: 100%
}

/** product page */
.ui.breadcrumb, .ui.breadcrumb:first-child {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.ui.breadcrumb a {
    color: #383535;
}

.banner-taxon {
    width: 100%;
    background-color: #383535;
    height: 400px;
    text-align: center;
    display: table;
}

.ui.header, .ui.header .sub.header {
    color: #ffffff;
    vertical-align: middle;
    display: table;
}

.ui.monster.header {
    display: table-cell;
}

.ui.header .sub.header {
    margin: 0 auto;
}
