<div class="ui basic segment">
    <div class="ui three column stackable grid">
        {% for taxon in taxons|slice(0, 3) %}
            {% set index = loop.index %}
            {% for image in taxon.images %}
                <div class="column taxon-discover taxon-discover-{{ index }}">
                    <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}">
                        <img style="" src="{{ image.path|imagine_filter('sylius_shop_product_original') }}"/>
                    </a>
                    <h3><a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}">{{ taxon.name }} ></a></h3>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<script>
    var slideLeft = {
        distance: '150%',
        origin: 'bottom',
        opacity: 0,
        delay: 1000,
    };

    var slideBottom = {
        distance: '150%',
        origin: 'top',
        opacity: 0,
        delay: 1000,
    };

    var slideRight = {
        distance: '150%',
        origin: 'bottom',
        opacity: 0,
        delay: 1000,
    };
    ScrollReveal().reveal('.taxon-discover-1', slideLeft);
    ScrollReveal().reveal('.taxon-discover-2', slideBottom);
    ScrollReveal().reveal('.taxon-discover-3', slideRight);
</script>