{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<h2 class="ui horizontal section divider">
    A decouvrir
</h2>
<div class="category-discover">
    {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Homepage/category.html.twig'})) }}
</div>
</div>

<div class="news">
    {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Homepage/news.html.twig'})) }}
</div>

    <h2 class="ui horizontal section divider">
        Follow-us on Instagram
    </h2>
<div class="ui container">
    <div class="ui basic segment">

        <div class="ui three column stackable grid instagram-block" id="instafeed">

        </div>
    </div>
</div>
    <script src="{{ asset('assets/js/instafeed.js') }}"></script>
    <script src="{{ asset('assets/js/feed.js') }}"></script>
{% endblock %}
