{% for taxon in taxons %}

    {% if taxon.code == "News" %}
        {% for image in taxon.images %}
            {% set url = image.path|imagine_filter('sylius_shop_product_original') %}
            <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}" class="news-banner" style="background-image: url('{{ url }}')"></a>
        {% endfor %}
    {% endif %}
{% endfor %}