<a class="title" href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('assets/img/logo.svg') }}"/></a>
<div class="cart">
    {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
</div>