<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}EverYouth{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/style.css'} %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">

        {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}
        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
        <script src="{{ asset('assets/js/scroll-reveal.js') }}"></script>
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>

<body class="pushable">
{{ sonata_block_render_event('sylius.shop.layout.before_body') }}
<div class="pusher">
    {% block top %}
        <div id="menu" class="ui large sticky inverted stackable menu">
            {% include '@SyliusShop/_header.html.twig' %}
            {#{{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}#}
            {#{{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}#}
            {#{{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}#}
            {#{{ sonata_block_render_event('sylius.shop.layout.after_header') }}#}

            {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
            {#{{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}#}

            {#{{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}#}

            {#{{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}#}
        </div>
    {% endblock %}

    {% if app.request.get('_route') == "sylius_shop_homepage" %}
        {% include '@SyliusShop/slider.html.twig' %}
    {% endif %}

    <div class="ui">
        {% include '@SyliusShop/_flashes.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

        {% block content %}
        {% endblock %}

        {{ sonata_block_render_event('sylius.shop.layout.after_content') }}
    </div>

    {% block footer %}
        {% include '@SyliusShop/_footer.html.twig' %}
    {% endblock %}
</div>

{% block javascripts %}

    {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{{ sonata_block_render_event('sylius.shop.layout.after_body') }}
</body>
</html>
