<div id="slider">
    <figure>
        <img src="{{ asset('assets/img/slider/1.jpg') }}">
        <img src="{{ asset('assets/img/slider/2.jpg') }}">
        <img src="{{ asset('assets/img/slider/3.jpg') }}">
        <img src="{{ asset('assets/img/slider/4.jpg') }}">
        <img src="{{ asset('assets/img/slider/1.jpg') }}">
    </figure>
</div>