{% include '@SyliusShop/Taxon/_breadcrumb.html.twig' %}

{{ sonata_block_render_event('sylius.shop.taxon.header.before', {'taxon': taxon}) }}

<div class="banner-taxon">
    <h1 class="ui monster section dividing header">
        {% if taxon.parent.code != "category"  %}
            {{ taxon.parent.name }} {{ taxon.name }}
        {% else %}
            {{ taxon.name }}
        {% endif %}
        <div class="sub header">{{ taxon.description }}</div>
    </h1>
</div>


{{ sonata_block_render_event('sylius.shop.taxon.header.after', {'taxon': taxon}) }}
