<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu2">
            <a href="{{ path('sylius_shop_homepage') }}"><li>Home</li></a>
            {% if taxons|length > 0 %}
                {% for taxon in taxons %}
                    {% if taxon.children|length > 0 %}
                        <li class="taxon-parent">{{ taxon.name }} <i class="dropdown icon"></i></li>
                        <div class="child">
                            {% for childTaxon in taxon.children %}
                                <a href="{{ path('sylius_shop_product_index', {'slug': childTaxon.slug, '_locale': childTaxon.translation.locale}) }}"><li>{{ childTaxon.name }}</li></a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}"><li>{{ taxon.name }}</li></a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</nav>

<script>
    (function ( $ ) {
        'use strict';

        $('.taxon-parent').on('click', function (e) {
            if ($(this).next().is(':visible') == true) {
                $(this).next().slideUp();
            } else {
                $(this).next().slideDown();
            }

        });
    })( jQuery );

</script>

